---
interface Props {
  id: string,
  title: string,
  image: string
}

const { id, title, image } = Astro.props
---

<a class="block w-full max-w-full cursor-pointer" href={id} data-recipe={id}>
  <div class="relative max-w-full">
    <header class="absolute inset-0 bg-slate-600/40 z-10">
      <div class="flex items-end justify-start h-full p-2">
        <p>
          <span class="font-semibold text-sm">Recipe</span>
          <span>{title}</span>
        </p>
      </div>
    </header>

    <picture class="relative z-0">
      <img class="aspect-[400/240] w-full h-full object-center object-cover" src={image} alt={title}>
    </picture>
  </div>
</a>